<h1 class="mt-4">Dashboard</h1>
<p class="lead mb-3">Welcome <%= name %></p>
<a href="/users/logout" class="btn btn-secondary">Logout</a>

<div class="container">
    <form action="/cats/random" method="POST">
        <%- include ("./partials/messages"); %>
        <div class="row">
            <div class="col-xl-6">
                <h1>Image 1</h1>
                <div class="form-group">
                    <label for="greetings">Greetings</label>
                    <input
                            type="text"
                            id="greetingsFirstImage"
                            name="greetingsFirstImage"
                            class="form-control"
                            placeholder="Enter Greetings"
                            required
                    />
                    <label for="width">Width</label>
                    <input
                            type="number"
                            id="widthFirstImage"
                            name="widthFirstImage"
                            class="form-control"
                            placeholder="Enter Width"
                            required
                    />
                    <label for="height">Height</label>
                    <input
                            type="number"
                            id="heightFirstImage"
                            name="heightFirstImage"
                            class="form-control"
                            placeholder="Enter Height"
                            required
                    />
                    <label for="color">Color</label>
                    <input
                            type="text"
                            id="colorFirstImage"
                            name="colorFirstImage"
                            class="form-control"
                            placeholder="Enter Color"
                            required
                            pattern="^[a-zA-Z]+$"
                            title="Please enter correct color">
                    <label for="size">Size</label>
                    <input
                            type="number"
                            id="sizeFirstImage"
                            name="sizeFirstImage"
                            class="form-control"
                            placeholder="Enter Size"
                            required
                    />
                </div>

            </div>

            <div class="col-xl-6">
                <h1>Image 2</h1>

                <div class="form-group">
                    <label for="person">Person</label>
                    <input
                            type="text"
                            id="whoSecondImage"
                            name="whoSecondImage"
                            class="form-control"
                            placeholder="who"
                            required
                    />
                    <label for="width">Width</label>
                    <input
                            type="number"
                            id="widthSecondImage"
                            name="widthSecondImage"
                            class="form-control"
                            placeholder="Enter Width"
                            required
                    />
                    <label for="height">Height</label>
                    <input
                            type="number"
                            id="heightSecondImage"
                            name="heightSecondImage"
                            class="form-control"
                            placeholder="Enter Height"
                            required
                    />
                    <label for="color">Color</label>
                    <input
                            type="text"
                            id="colorSecondImage"
                            name="colorSecondImage"
                            class="form-control"
                            placeholder="Enter Color"
                            required
                            pattern="^[a-zA-Z]+$"
                            title="Please enter correct color">

                    <label for="size">Size</label>
                    <input
                            type="number"
                            id="sizeSecondImage"
                            name="sizeSecondImage"
                            class="form-control"
                            placeholder="Enter Size"
                            required
                    />
                </div>
            </div>
            <button type="submit" class="btn btn-primary btn-block">View & Download</button>
        </div>

        <div class="row">
            <div class="col-lg-6">
                <% var img1; %>
                <% if (img1 != undefined) { %>
                    <img src= <%= img1 %> class="img-fluid">
                <% } %>
            </div>
            <div class="col-lg-6">
                <% var img2; %>
                <% if (img2 != undefined) { %>
                    <img src= <%= img2 %> class="img-fluid">
                <% } %>
            </div>

        </div>
    </form>

</div>


